@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* colors used in this project */

:root {
  --lightgrey: #dbd8d7;
  --medium-grey: #acb7c3;
  --white: #fff;
  --light-color: #666;
  --orange: #ff6b00;
  --orange2: #f55800;
  --orange3: #e05304;
  --white2: #fff5e1;
  --navy-blue: #091e42;
  --navy-blue2: #172b4d;
  --medium-grey2: #8993a4;
  --grey: #3c3a39;
  --dark: #1c1a19;
  --coffee: #212121;
  --grey2: #5b5957;
}

/* Style for Header */

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: auto;
  background-color: var(--grey);
  height: auto;
  color: var(--white2);
  border-radius: 10px;
  position: fixed;
  margin-top: -49px;
}

.navA {
  overflow: hidden;
  background-color: var(--grey);
  position: relative;
}

.navA #myLinks {
  display: none;
}

.navA a {
  margin-top: 10px;
  float: left;
}

.navA .icon i {
  float: right;
  color: var(--white);
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

.works a {
  display: flex;
  justify-content: center;
}

.navA a:hover {
  background-color: var(--light-color);
  color: black;
}

.active {
  background-color: var(--grey);
  color: var(--white);
}

/* Style for Headline */

.headline {
  display: grid;
  justify-content: space-around;
  text-align: left;
  padding: 120px 24px;
  height: auto;
  width: auto;
  gap: 12px;
  background-color: var(--dark);
  background-image: url("./Images/Illustration.png");
  background-position: right bottom;
  background-size: 150px;
  background-repeat: no-repeat;
  background-blend-mode: 120%;
  margin-top: 49px;
}

.headline h1 {
  /* font-family: 'Crete Round'; */

  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: var(--orange);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline h2 {
  width: 327px;
  height: 27px;

  /* font-family: 'Roboto'; */

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: var(--white2);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline p {
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  width: auto;
  flex-grow: 0;
}

.icons {
  flex-wrap: wrap;
  padding: 5px;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.icons li {
  padding: 5px;
}

/* style for Works Section */

.works {
  display: grid;
  justify-content: space-around;
  text-align: left;
  padding: 120px 24px;
  height: auto;
  width: auto;
  gap: 12px;
  background-color: var(--white);
}

.works h1 {
  justify-content: space-around;
  width: 100%;
  height: 83px;

  /* font-family: 'Crete Round'; */

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: var(--dark);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 50px;
  margin-bottom: 10px;
}

#hrh1 {
  display: none;
}

hr {
  display: block;
}

.placeholder-image {
  width: 100%;
  height: 500px;
  background: url(./Images/Img\ Placeholder.png);
  flex: none;
  background-position: center;
  background-repeat: no-repeat;
  order: 0;
  flex-grow: 0;
}

.works h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: space-around;
  width: 100%;
  height: 36px;

  /* font-family: 'Crete Round'; */

  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: var(--navy-blue);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works p {
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
  height: 147px;
  font-style: normal;

  /* font-family: 'Inter'; */

  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: var(--navy-blue);
  flex: none;
  flex-grow: 0;
}

.works img {
  width: 100%;
  height: 1px;
  border: 1px solid var(--coffee);
  flex: none;
  flex-grow: 0;
  margin-bottom: 20px;
}

#grid-case {
  display: block;
}

.grid-container {
  display: grid;
  grid-template:
    "myArea myArea . . ."
    "myArea myArea . . .";
  background-color: var(--white);
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

/* .grid-container li {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px;
  border: 1px solid black;
} */

.item1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: var(--white);
  border: 1px solid var(--medium-grey2);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item1 span {
  width: 25px;
  height: 20px;

  /* font-family: 'Inter'; */

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--navy-blue);
}

.item2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 70px;
  height: 40px;
  background: var(--white);
  border: 1px solid var(--medium-grey2);
  flex: none;
  order: 1;
}

.item2 span {
  width: 32px;
  height: 20px;

  /* font-family: 'Inter'; */

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--navy-blue);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: var(--white);
  border: 1px solid var(--medium-grey2);
  flex: none;
  order: 2;
  flex-grow: 0;
}

.item3 span {
  width: 71px;
  height: 20px;

  /* font-family: 'Inter'; */

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--navy-blue);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: var(--white);
  border: 1px solid var(--medium-grey2);
  flex: none;
  order: 3;
  flex-grow: 0;
}

.item4 span {
  width: 37px;
  height: 20px;

  /* font-family: 'Inter'; */

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--navy-blue);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.orange1 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-top: 10px;
  width: 134px;
  height: 48px;
  background: var(--orange);
  flex: none;
  order: 3;
  flex-grow: 0;
  border: 2px solid var(--orange2);
}

.orange1 span {
  width: 120px;
  height: 24px;

  /* font-family: 'Inter'; */

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.try span {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white2);
}

.orange1:hover {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  /* position: absolute; */

  width: 93px;
  height: 48px;
  left: 252px;
  background: var(--white2);
  border: 1px solid var(--orange2);
  color: var(--orange2);
}

.orange1 span:hover {
  width: 69px;
  height: 24px;

  /* font-family: 'Inter'; */

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.03em;
  color: var(--orange2);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.orange1:active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 93px;
  height: 48px;
  left: 407px;
  background: var(--orange3);
}

.orange1 span:active {
  width: 69px;
  height: 24px;

  /* font-family: 'Inter'; */

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white2);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.orange1:disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 93px;
  height: 48px;
  left: 564px;
  background: var(--white2);
}

.orange1 span:disabled {
  width: 69px;
  height: 24px;

  /* font-family: 'Inter'; */

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey2);
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* styling for Profesinonal Section */

.pro-art {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: end;
  text-align: left;
  height: auto;
  width: 100%;
  gap: 12px;
  background-image: url(./Images/Img\ Placeholder2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.pro-h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  height: 81px;
  display: flex;
  justify-content: center;
  padding: 20px;

  /* font-family: 'Crete Round'; */

  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--white);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pro-h3 {
  width: 100%;
  height: auto;

  /* font-family: "Inter"; */

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--white2);
  flex: none;
  flex-grow: 0;
  padding: 20px;
}

.btn3 {
  display: grid;
  grid-template:
    "myArea myArea . . ."
    "myArea myArea . . .";
  gap: 12px;
  align-content: center;
  margin-top: 60px;
  margin-bottom: 0;
  justify-content: center;
}

.btn3 .btnh {
  display: flex;
  flex: none;
  width: 80px;
  height: 80px;
  background: var(--grey2);
  color: var(--white2);
  border: 3px solid var(--grey2);
  font-size: 18px;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 12px;
}

.btn3 .btnb {
  display: flex;
  flex: none;
  width: 130px;
  height: 80px;
  background: var(--grey2);
  color: var(--white2);
  border: 3px solid var(--grey2);
  font-size: 18px;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 12px;
}

.btn3 .btnr {
  display: flex;
  flex: none;
  width: 80px;
  height: 80px;
  background: var(--grey2);
  color: var(--white2);
  border: 3px solid var(--grey2);
  font-size: 18px;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 12px;
}

.pro-art .orange1 {
  width: 100%;
  margin-right: 10%;
  margin-left: 0;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

/* ----------------------Styling for About Section----------------------- */

.about {
  display: grid;
  justify-content: space-around;
  text-align: left;
  padding: 120px 24px;
  height: auto;
  width: auto;
  gap: 12px;
  background-color: var(--dark);
  background-image: url("./Images/illustration-about-me-mobile.png");
  background-position: right bottom;
  background-size: 150px;
  background-repeat: no-repeat;
}

.about div h1 {
  width: 100%;
  height: 79px;

  /* font-family: 'Crete Round'; */

  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: var(--orange);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 100px;
}

.about div p {
  width: 100%;
  height: 148px;

  /* font-family: 'Inter'; */

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white2);
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* styling Prog Lang section */

.prog-lang {
  display: grid;
  justify-content: space-around;
  text-align: left;
  padding: 120px 24px;
  height: auto;
  width: auto;
  gap: 12px;
  background-color: var(--dark);
}

.v-white {
  color: var(--white);
  width: 100%;
  border: 1px solid var(--white);
  height: 1px;
  margin-bottom: 70px;
}

.prog {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.progli {
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-bottom: 20px;
}

.mainh1 {
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 34px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  text-align: center;
}

.progli li {
  width: 100%;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 50px;
  justify-content: center;
}

/* -------------------styling Contact section------------------- */

.contact1 {
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 120px 24px;
  height: auto;
  width: auto;
  gap: 12px;
  flex-direction: column;
}

.contact1 h3 {
  width: 100%;
  height: 216px;
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 44px;
  text-align: center;
  color: var(--navy-blue2);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: auto;
  gap: 12px;
  justify-content: space-around;
  margin-right: 30px;
}

form input {
  border-bottom: 1px solid var(--grey2);
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
}

.dis-input {
  display: none;
}

textarea {
  height: 114px;
  width: 327px;
  border: none;
  left: 12px;
  top: 12px;
  font-size: 18px;
  text-align: start;
  color: var(--medium-grey2);
}

form button {
  width: 150px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white);
  flex: none;
  order: 0;
  flex-grow: 0;
  background: var(--orange2);
  border: var(--orange2);
  justify-content: space-around;
  margin-left: 40%;
}

/* form button:hover {
  background-color: rgb(202, 80, 80);
  width: 150px;
  height: 50px;
  rotate: 180deg;
} */

form button:hover {
  width: 150px;
  height: 50px;
  background-color: #172b4d;
  animation-name: peer;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes peer {
  0% { background-color: #172b4d; }
  25% { background-color: #396df2; }
  50% { background-color: #7f8cff; }
  75% { background-color: #cfd8dc; }
  100% {background-color: #172b4d; }
}

/* ----------------------------------Styling footer------------------------------- */

.dark-icons {
  display: flex;
  justify-content: center;
}

/* -------------------------------------Media Query------------------------------------------ */

@media (min-width: 768px) {
  /* ---------------------media query for Nav Menu------------------------------- */

  a {
    text-decoration: none;
  }

  .container {
    width: 100%;
    margin: auto;
    background-color: var(--grey);
    height: auto;
    color: var(--white2);
    border-radius: 10px;
    margin-top: -90px;
  }

  .navA {
    overflow: hidden;
    background-color: var(--grey);
    position: relative;
  }

  .navA #myLinks {
    display: flex;
    float: right;
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navA a {
    float: left;
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navA .icon i {
    display: none;
  }

  .works a {
    display: flex;
    justify-content: center;
  }

  .about a {
    float: left;
    margin-right: 97%;
  }

  .navA a:hover {
    background-color: var(--light-color);
    color: black;
  }

  .active {
    background-color: var(--grey);
    color: var(--white);
  }

  /* ---------------------------------Media query for headlines------------------------------ */

  .headline {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: left;
    padding: 120px 24px;
    height: auto;
    width: auto;
    gap: 12px;
    background-color: var(--dark);
    background-image: url("./Images/Illustration-header.png");
    background-position: right center;
    background-size: 300px;
    background-repeat: no-repeat;
    background-blend-mode: 120%;
    margin-top: 90px;
  }

  .chi {
    flex: 10%;
  }

  .icons {
    flex-wrap: wrap;
    padding: 5px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .chi .icons {
    display: flex;
    flex-direction: column;
  }

  .ama {
    flex: 30%;
    margin-right: 35%;
  }

  .headline h1 {
    /* font-family: 'Crete Round'; */

    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: var(--orange);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .headline h2 {
    width: 327px;
    height: 27px;

    /* font-family: 'Roboto'; */

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: var(--white2);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  form p {
    width: 100%;
  }

  .headline p {
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    width: 375px;
    flex-grow: 0;
  }

  .icons li {
    padding: 5px;
  }

  /* ------------------------------Media query for works--------------------------------- */

  .works {
    display: grid;
    justify-content: space-around;
    text-align: left;
    padding: 120px 24px;
    height: auto;
    width: auto;
    gap: 12px;
    background-color: var(--white);
    background-image: url(./Images/Img\ Placeholder.png);
    background-position: left bottom;
    background-size: 45% 55%;
    background-repeat: no-repeat;
    background-blend-mode: 120%;
    margin: 40px;
  }

  .placeholder-image {
    display: none;
  }

  .works h1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 83px;

    /* font-family: 'Crete Round'; */

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    color: var(--dark);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  hr {
    display: none;
  }

  #hrh1 {
    display: flex;
    flex: end;
    width: 100%;
    float: right;
  }

  .works h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-around;
    width: 50%;
    height: 36px;

    /* font-family: 'Crete Round'; */

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: left;
    color: var(--navy-blue);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 55%;
    text-align: left;
  }

  .works p {
    justify-content: space-around;
    margin-bottom: 20px;
    width: 50%;
    height: 147px;
    font-style: normal;

    /* font-family: 'Inter'; */

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--navy-blue);
    flex: none;
    flex-grow: 0;
    margin-left: 55%;
    text-align: left;
  }

  .works img {
    display: none;
  }

  #grid-case {
    display: block;
    margin-left: 55%;
  }

  .grid-container {
    display: grid;
    grid-template:
      "myArea myArea . . ."
      "myArea myArea . . .";
    background-color: var(--white);
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }

  .item1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 49px;
    height: 40px;
    background: var(--white);
    border: 1px solid var(--medium-grey2);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .item1 span {
    width: 25px;
    height: 20px;

    /* font-family: 'Inter'; */

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--navy-blue);
  }

  .item2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 70px;
    height: 40px;
    background: var(--white);
    border: 1px solid var(--medium-grey2);
    flex: none;
    order: 1;
  }

  .item2 span {
    width: 32px;
    height: 20px;

    /* font-family: 'Inter'; */

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--navy-blue);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .item3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: var(--white);
    border: 1px solid var(--medium-grey2);
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .item3 span {
    width: 71px;
    height: 20px;

    /* font-family: 'Inter'; */

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--navy-blue);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .item4 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: var(--white);
    border: 1px solid var(--medium-grey2);
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .item4 span {
    width: 37px;
    height: 20px;

    /* font-family: 'Inter'; */

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--navy-blue);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .orange1 {
    display: flex;
    flex-direction: row;
    justify-items: left;
    align-items: center;
    padding: 12px;
    gap: 10px;
    margin-top: 10px;
    width: 134px;
    height: auto;
    background: var(--orange);
    flex: none;
    order: 3;
    flex-grow: 0;
    border: 2px solid var(--orange2);
    margin-left: 25%;
  }

  .orange1 span {
    width: 120px;
    height: auto;

    /* font-family: 'Inter'; */

    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .try span {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--white2);
  }

  .orange1:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;

    /* position: absolute; */

    width: 134px;
    height: auto;
    left: 252px;
    background: var(--white2);
    border: 1px solid var(--orange2);
  }

  .orange1 span:hover {
    width: 69px;
    height: auto;

    /* font-family: 'Inter'; */

    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.03em;
    color: var(--orange2);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .orange1:active {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    position: absolute;
    width: 134px;
    height: auto;
    left: 407px;
    background: var(--orange3);
  }

  .orange1 span:active {
    width: 69px;
    height: auto;

    /* font-family: 'Inter'; */

    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white2);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .orange1:disabled {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    position: absolute;
    width: 134px;
    height: auto;
    left: 564px;
    background: var(--white2);
  }

  .orange1 span:disabled {
    width: 69px;
    height: auto;

    /* font-family: 'Inter'; */

    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey2);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .about div h1 {
    width: 100%;
    height: 79px;

    /* font-family: 'Crete Round'; */

    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: var(--orange);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 100px;
  }

  .about div p {
    width: 50%;
    height: 148px;

    /* font-family: 'Inter'; */

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white2);
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  /* ------------Media Query for professional--------- */

  .pro-art {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: end;
    text-align: left;
    height: auto;
    width: 100%;
    gap: 12px;
    background-image: url(./Images/Img\ Placeholder2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pro-h1 {
    margin-top: 200px;
    margin-bottom: 20px;
    width: 100%;
    height: 81px;
    display: flex;
    justify-content: center;
    padding: 20px;

    /* font-family: 'Crete Round'; */

    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 44px;
    color: var(--white);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .pro-h3 {
    width: 100%;
    height: auto;

    /* font-family: "Inter"; */

    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 34px;
    color: var(--white2);
    flex: none;
    flex-grow: 0;
    padding: 20px;
  }

  .btn3 {
    display: grid;
    grid-template:
      "myArea myArea . . ."
      "myArea myArea . . .";
    gap: 12px;
    align-content: center;
    margin-top: 60px;
    margin-bottom: 0;
    justify-content: center;
  }

  .btn3 .btnh {
    display: flex;
    flex: none;
    width: 100%;
    height: auto;
    background: var(--grey2);
    color: var(--white2);
    border: 3px solid var(--grey2);
    font-size: 35px;
    line-height: 34px;
    font-weight: 400;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 12px;
  }

  .btn3 .btnb {
    display: flex;
    flex: none;
    width: 100%;
    height: auto;
    background: var(--grey2);
    color: var(--white2);
    border: 3px solid var(--grey2);
    font-size: 35px;
    line-height: 34px;
    font-weight: 400;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 12px;
  }

  .btn3 .btnr {
    display: flex;
    flex: none;
    width: 100%;
    height: auto;
    background: var(--grey2);
    color: var(--white2);
    border: 3px solid var(--grey2);
    font-size: 35px;
    line-height: 34px;
    font-weight: 400;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 12px;
  }

  .pro-art .orange1 {
    width: 100%;
    margin-right: 10%;
    margin-left: 0;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    height: auto;
  }

  .pro-art a .orange1 {
    height: auto;
    width: 100%;
  }

  .pro-art .orange1 span {
    font-size: 35px;
    line-height: 24px;
    width: 100%;
    margin-left: 60%;
  }

  /* -----------Media query for About--------- */

  .about {
    display: grid;
    justify-content: space-around;
    text-align: left;
    padding: 120px 24px;
    height: auto;
    width: auto;
    gap: 12px;
    background-color: var(--dark);
    background-image: url("./Images/illustration-about\ me@2x.png");
    background-position: right center;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  /* ----------Media Query for language----------------------- */

  .prog-lang {
    display: grid;
    justify-content: space-around;
    text-align: left;
    padding: 120px 24px;
    height: auto;
    width: 100%;
    gap: 12px;
    background-color: var(--dark);
  }

  .v-white {
    color: var(--white);
    width: 100%;
    border: 1px solid var(--white);
    height: 1px;
    margin-bottom: 70px;
  }

  .prog {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }

  .progli {
    flex: 30%;
    margin: 20px;
    justify-content: flex-start;
  }

  .progli li {
    width: 100%;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 50px;
  }

  .mainh1 {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
  }

  /* ----------Media query for contact----------- */

  .contact1 {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    padding: 24px;
    height: auto;
    width: 100%;
    gap: 12px;
  }

  .contact1 h3 {
    width: 30%;
    height: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    color: var(--navy-blue2);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  form {
    display: flex;
    margin-top: 40px;
    width: 100%;
    gap: 8px;
    justify-content: space-around;
    padding: 20px;
  }

  form input {
    border-bottom: 1px solid var(--grey2);
    border-top: none;
    border-left: none;
    border-right: none;
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
  }

  .sm-app {
    display: none;
  }

  form .dis-input {
    display: inline;
    width: 47%;
  }

  textarea {
    height: 114px;
    width: 327px;
    border: none;
    left: 12px;
    top: 12px;
    font-size: 18px;
    text-align: start;
    color: var(--medium-grey2);
  }

  form button {
    width: 150px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
    flex: none;
    order: 0;
    flex-grow: 0;
    background: var(--orange2);
    border: var(--orange2);
    justify-content: space-around;
    margin-left: 5%;
  }
}
