

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Style for Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: #3c3a39;
  height: auto;
  left: 0;
  top: 0;
  flex-wrap: wrap;
  width: 100%;
}

a {
  text-decoration: none;
  color: #dbd8d7;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.image {
  display: flex;
  flex-direction: column;
  float: left;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.image img {
  /* border: 2px solid #acb7c3; */
  left: 16.67%;
  right: 16.67%;
  height: 2px;
  width: 22px;
  margin: 2px;
  display: flex;
}

/* Style for Headline */

.headline {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  background-color: #1c1a19;
 
}

.headline-h1 {
  margin-top: 10px;
  width: auto;
  height: auto;
  left: 24px;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline-h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  width: 327px;
  height: 27px;
}

.headline-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 327px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
ul{
  list-style-type: none;
}
.icons {
  flex-wrap: wrap;
  padding: 5px;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

/* #icons{
  background-image: url('./Images/Illustration.png');
  background-position: right;
  background-size:400px cover;

} */
.icons li {
  padding: 5px;
}

i {
  color: #dbd8d7;
}

#illust img {
  margin-top: 0%;
  float: right;
  padding-left: 90%;
}

.black-h1{
  color:#1c1a19 ;
}

/* style for About Section */

.about{
  background-color: #fff;
  color: #091E42;
}

.about p{
  width: 327px;
height: 147px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #091E42;
flex: none;
order: 1;
flex-grow: 0;
}
hr {
  border: 2px solid #212121;
  width: 100%;
  display: flex;

}

#grid-case{
  display: block;
}

.grid-container {
  display: grid;
  grid-template:
  'myArea myArea . . .'
  'myArea myArea . . .';
  grid-gap: 10px;
  background-color: #fff;
  padding: 10px;
}

.grid-container li {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px;
  border: 1px solid black

}

.orange1{
  background-color: #f55800 ;
  display: flex;
  flex: row;
  padding: 12px;
  gap: 10px;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  order: 0;
  flex-grow: 0;
  top: calc(50% - 48px/2 + 46.5px);
  width: 130px;
  height: 50px;
  border: 2px solid #f55800;
}

.orange1:hover{
  display: flex;
  flex-direction: row;
  align-items: center;
 padding: 12px;
 gap: 10px;
 left: 252px;
top: calc(50% - 48px/2 + 46.5px);
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.orange1:click{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
flex: none;
order: 0;
flex-grow: 0;
color: #F4F1F0;
}

.orange1:disabled{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 93px;
  top: calc(50% - 48px/2 + 46.5px);
  background: #F4F1F0;
  }