footer {
  background-color: #222;
  padding: 0;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content:center
}

.social-media {
  display: flex;
  gap: 10px;
  padding: 2%;
}

.social-media a {
  text-decoration: none;
  color: #a5a2a2; /* Change the color to your preference */
}
