/* Common styles for form elements */
form {
  padding-top: 1%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

label {
  flex-grow: 1;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
}

::placeholder {
  color: #fff;
}
/* Style the error messages */
.ValidationError {
  color: #f00;
  font-size: 14px;
  margin-top: 5px;
}

/* Optional: Style the success message */
.submission-success {
  color: #008000;
  font-weight: bold;
  margin-top: 10px;
}

/* Your existing CSS for the button */
.view-resume-button {
  background-color: orange;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  padding: 2%;
  cursor: pointer;
}

/* Make the button responsive */
@media (max-width: 768px) {
  .view-resume-button {
    width: 100%; /* Set the button to 100% width on smaller screens */
  }

  /* Adjust name input width for mobile screens */
  input[type="text"] {
    width: 100%;
  }
}

/* Additional styles for improved mobile responsiveness */
@media (max-width: 768px) {
  form {
    width: 80%; /* Adjust the form width for better mobile display */
  }

  label {
    text-align: center; /* Center align labels on smaller screens */
  }

  input[type="email"],
  textarea {
    width: 100%; /* Full-width input fields on mobile */
  }
}
