/* Common styles for form elements */
form {
  padding-top: 1%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

label {
  flex-grow: 1;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: transparent;
  color: #333;
}

/* Style the error messages */
.ValidationError {
  color: #f00;
  font-size: 14px;
  margin-top: 5px;
}

/* Optional: Style the success message */
.submission-success {
  color: #008000;
  font-weight: bold;
  margin-top: 10px;
}

/* Your existing CSS for the button */
.view-resume-button {
  background-color: orange;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  padding: 2%;
}

/* Make the button responsive */
@media (max-width: 768px) {
  .view-resume-button {
    width: 100%; /* Set the button to 100% width on smaller screens */
  }
}
